# Dependencies
node_modules/

# Environment
.env

# Output
output/
build/
.react-router/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Local Database
db/local.db

# references
z/